/* Structure */

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.sortable tr {
    cursor: pointer;
}


/* .containerBody .ex-moved {
    background-color: #e74c3c;
} */

.containerBody.ex-over {
    background-color: rgba(255, 255, 255, 0.3);
}

.indexHeightClass {
    height: 100px;
}

.avtar {
    height: 80px;
    width: 80px;
}

.row {
    margin-left: 0px;
}