<div class="container-fluid">
    <div class="row" style="padding-bottom:15px;">
        <form name="playlist">
            <mat-form-field style="margin-right:15px;">
            <mat-select  placeholder="Select Service" [(ngModel)]="selectedService" name="serviceName">

                <mat-option *ngFor="let services of serviceNames" [value]="services.serviceCode">{{ services.service }}</mat-option>
            </mat-select>
            </mat-form-field>

            <mat-input-container class="example-full-width">
            <input matInput placeholder="Search Playlist" name="search" (ngModelChange)="searchPlaylist($event)" [(ngModel)]="query" value="">
        </mat-input-container>
        <button mat-raised-button color="primary" (click)="displayPlaylistData()" [disabled]="!selectedService || !query || facility.length==0">Display</button>
        <table class="table table-striped table-hover" *ngIf="showRecordStatus">
        <tbody>
            <tr *ngFor="let item of displayPlaylist; let j=index">
                <td>

                    <mat-checkbox name="checklist" [checked]="facility.indexOf(item.id) !== -1" [value]="item.id" (change)="onChange(item.id, $event.checked)">
                    </mat-checkbox>
                </td>

                <td>{{item.title}}</td>
                <td><img src="{{item.image_url}}" height="50" /></td>
            </tr>
            <tr *ngIf="displayPlaylist.length==0">
                <td colspan="5">
                    No Record Found
                </td>
            </tr>
        </tbody>
    </table>

        </form>
    </div>

    <div class="button-row" style="padding-bottom:15px;">
       <!--<button style="margin-right:15px;" mat-raised-button (click)="displayContainerData(selectedService,selectedSection)" *ngIf="selectedSection">Refresh</button>-->
       <!--<button style="margin-right:15px;" mat-raised-button (click)="openDialog()" *ngIf="selectedService">Add New Track</button>-->
        <button style="margin-right:15px;" mat-raised-button (click)="newPlaylistDialog()" *ngIf="selectedService">New Playlist</button>
        <button style="margin-right:15px;" mat-raised-button (click)="editPlaylistDialog()" *ngIf="displayData.playListResourceCode">Edit Playlist</button>
        <a style="text-decoration:none;" mat-raised-button (click)="saveDisplayPosition()" [disabled]="displayData.length==0" *ngIf="showSavePostion && selectedService">Save Position</a>
    </div>


    <div class="row " *ngIf="displayData.playListResourceCode">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Resource Code</th>
                    <th>Artist</th>
                   <!-- <th>Action</th>-->
                </tr>
            </thead>

            <tbody [dragula]='"another-bag"' [dragulaModel]='displayData.playListResourceCode' class="containerBody">

                <tr *ngFor="let playlistitem of displayData.playListResourceCode; let i=index">
                    <td>{{i+1}}</td>
                    <td><img src="{{playlistitem.imageURL}}" class="avtar" /></td>
                    <td>{{playlistitem.Title}}</td>
                    <td>{{playlistitem.resourceCode}}</td>
                    <td>{{playlistitem.artist}}</td>
                    <!--<td>
                        <a style="text-decoration:none;" mat-mini-fab (click)="deleteItem(playlistitem)" title="Delete">
                            <mat-icon>delete</mat-icon>
                        </a>
                    </td>-->
                </tr>
                <tr *ngIf="displayData.length==0 && sowContainer">
                    <td colspan="5" style="text-align:center"> No Record Found </td>
                </tr>
            </tbody>
        </table>

    </div></div>
