<div class="container-fluid">
    <div class="button-row" style="padding-bottom:15px;">
        <button style="margin-right:15px;" mat-raised-button (click)="newTransactionDialog()">Add New Transaction</button>
        <button style="margin-right:15px;" mat-raised-button (click)="refeshTransaction()">Refresh</button>
    </div>
    <div style="height:500px;overflow: auto;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Service</th>
                    <th>TransactionType</th>
                    <th>ResourceAction</th>
                    <th>Remarks</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let item of distributionList.content | paginate: { itemsPerPage: distributionList.size, currentPage: p,totalItems: distributionList.totalElements}; let i=index">
                    <td>{{item.id}}</td>
                    <td>{{item.created_at | date :'yyyy-MM-dd hh:mm:ss '}}</td>
                    <td>{{item.service}}</td>
                    <td>{{item.distributionTypes.distribution_type}}</td>
                    <td>{{item.distributionActions.distribution_action}}</td>
                    <td>Total ({{item.resourceStatus.total}}) - [Pending({{item.resourceStatus.pending}}) Sccessful({{item.resourceStatus.successfull}}) Failed({{item.resourceStatus.failed}})] </td>
                    <td> {{item.distributionTransactionStatusess.distribution_transaction_status}}</td>
                    <td>
                        <a style="text-decoration:none;" mat-mini-fab (click)="viewTransactionDialog(item)">
                            <mat-icon >visibility</mat-icon>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <pagination-controls (pageChange)="pageChanged($event)" maxSize="6" style="text-align: right;margin-top: 8px;"></pagination-controls>

</div>
