<div class="container" layout="column" flex>
  <mat-toolbar layout="row" class="mat-whiteframe-glow-z1 site-content-toolbar ">

    <div class="docs-toolbar-tools">
      <!--<mat-button class="menu" aria-label="Settings" ng-click="toogleUserList()" hide-gt-sm>
                    <mat-icon mat-svg-src="bower_components/material-design-icons/navigation/svg/design/ic_menu_24px.svg"></mat-icon>
                </mat-button>-->
    </div>
    <div layout="row" flex>
      <h2><span class="mat-breadcrumb-page">Introduction</span></h2>
      <span flex="" class="flex"></span>
    </div>
  </mat-toolbar>
</div>
