<!--<app-header></app-header>-->
<div class="mat-content" layout="row" >
<div class="logo" layout="column" style="margin-top:5%;">
    <a href="https://www.creative-tim.com" class="simple-text">
        <div class="logo-img">
            <!-- <img src="/assets/img/angular2-logo-red.png"/> -->
        </div>

    </a>
</div>

<!-- <div class="sidebar-wrapper" layout="row">
    <div class="nav-container">
        <ul class="nav">
            <li routerLinkActive="active" >
                <a [routerLink]="['/distribution']">distribution</a>

            </li>
            <li routerLinkActive="active" >
                <a [routerLink]="['/refreshment']">Refreshment</a>

            </li>
        </ul>
    </div>
</div> -->





<!-- <mat-sidenav-container class="example-sidenav-fab-container">

    <div class="example-scrolling-content">
        <a [routerLink]="['/distribution']">distribution</a>
    </div>
    <div class="example-scrolling-content">
        <a [routerLink]="['/refreshment']">Refreshment</a>
    </div>
</mat-sidenav-container> -->

<!-- Start new Side nav -->



<!-- End new Side nav -->



<div class="container" layout="row">
    <router-outlet>
    </router-outlet>
</div>
</div>
